.tinder {
  height: 70vh;
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 50vw;
  width: 400px;
  margin-left: -200px;
  left: 50vw;
  top: 15vh;
  transition: opacity 0.1s ease-in-out;
}

.loaded.tinder {
  opacity: 1;
}

.tinder--status {
  position: relative;
  top: 50%;
  margin-top: -30px;
  z-index: 2;
  width: 100%;
  text-align: center;
  pointer-events: none;
}

.tinder--status i {
  font-size: 100px;
  opacity: 0;
  transform: scale(0.3);
  transition: all 0.2s ease-in-out;
  position: absolute;
  width: 100px;
  margin-left: -50px;
}

.tinder_love .fa-paw {
  opacity: 0.7;
  transform: scale(1);
}

.tinder_nope .fa-xmark {
  opacity: 0.7;
  transform: scale(1);
}

.tinder--cards {
  flex-grow: 1;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.tinder--card {
  display: inline-block;
  width: 90vw;
  max-width: 400px;
  height: 50vh;
  // padding-bottom: 40px;
  border-radius: 8px;
  overflow: hidden;
  position: absolute;
  will-change: transform;
  transition: all 0.3s ease-in-out;
  cursor: -webkit-grab;
  cursor: -moz-grab;
  cursor: grab;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.moving.tinder--card {
  transition: none;
  cursor: -webkit-grabbing;
  cursor: -moz-grabbing;
  cursor: grabbing;
}

.tinder--card img {
  width: 100%;
  height: 100%;
  pointer-events: none;
  object-fit: cover;
}

.tinder--card h3 {
  position: absolute;
  bottom: 17px;
  left: 16px;
  color: white;
  font-size: 32px;
  pointer-events: none;
}

.tinder--card p {
  margin-top: 24px;
  font-size: 20px;
  padding: 0 16px;
  pointer-events: none;
}

.tinder--buttons {
  flex: 0 0 100px;
  text-align: center;
  position: absolute;
  bottom: 0;
  width: 400px;
  z-index: 10;
}

.tinder--buttons button {
  border-radius: 50%;
  line-height: 60px;
  width: 60px;
  border: 0;
  background: rgb(243, 243, 242);
  display: inline-block;
  margin: 0 8px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.tinder--buttons button:focus {
  outline: 0;
}

.tinder--buttons i {
  font-size: 32px;
  vertical-align: middle;
}

.fa-paw {
  color: #fface4;
  font-size: large;
}

.fa-xmark {
  color: #cdd6dd;
  font-size: large;
}

/* .fa-circle-info{
  color:white;
  font-size: 32px;
  position: absolute;
  bottom: 27px;
  right: 16px;
  //pointer-events: none;
} */

.card-product {
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
}

.card-product img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: 0.7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 16px;
}
.match-container{
  text-align: center;
  margin-top: 24px;
}
.match-card {
display: block;
  width: 90vw;
  height: 50vh;
  position: absolute;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.match-card img {
  display:block;
  object-fit: cover;
  position: absolute;
  border-radius: 8px;
  width: 100%;
  height: 100%;
}


.match-card h3 {
  bottom: 17px;
  left: 16px;
  color: white;
  font-size: 32px;
  position: absolute;
}
