body, html {
  min-height: 100%;
  background-color: white;
  background-size: 50%;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden auto;
  max-width: 100%;
}


.logo {
  padding-top: 30px;
}



h1, h3, p {
  font-family: sans-serif;
  color: black;
}

.btn-primary {
  color: white;
  background-color: rgb(62, 154, 154);
  border-color: darkolivegreen;
  border-radius: 50px;
  text-shadow: #212529;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.btn{
  border: none;
}
.btn-primary:hover {
  opacity: 0.9;

  background-color: rgb(62, 154, 154);
  border-radius: 50px;
  text-shadow: #212529;
  color: white;
}

.dog-img{
  max-width: 100%;
  margin-left: 5px;
}
