body,
html {
  min-height: 100%;
  background-color: white;
  background-size: 50%;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden auto;
  max-width: 100%;
}

.logo {
  padding-top: 30px;
}

.log-buttons {
  text-align: center;
  display: flex;
  flex-direction: column;
}
h1,
h3,
p {
  font-family: helvetica;

  color: black;
  font-size: 45px;
}

p {
  font-family: 'Nunito', sans-serif;
}
.btn{
  border: none;
  font-family: 'Nunito', sans-serif;
}

.btn-primary {
  color: black;
  background-color: #ffe662;
  border-color: none;
  border-radius: 50px;
  text-shadow: #212529;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  opacity: 0.9;
}

.btn-primary:hover {
  opacity: 0.8;
  background-color: #ffe662;
  border-radius: 50px;
  text-shadow: #212529;
  color: black;
}

.btn-gray {
  color: black;
  background-color: #bbbab5;
  border-color: none;
  border-radius: 50px;
  text-shadow: #212529;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  opacity: 0.9;
}

.btn-gray:hover {
  opacity: 0.8;
  background-color: #bbbab5;

  border-radius: 50px;
  text-shadow: #212529;
  color: black;
}

.dog-img {
  max-width: 100%;
  margin-left: 5px;
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .log-buttons {
    margin: 0 24px 24px 24px;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .log-buttons {
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .log-buttons {
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .log-buttons {
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .log-buttons {
    margin: 0 550px 24px 550px;
  }
}
