body, html {
  height: 100%;
  background-color: white;
  background-image: url('backgroundimg.jpg');
  background-size: 250%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.logo {
  padding-top: 30px;
}

.landing {
  background-image: url('dogs_pic.jpg');
  background-size: cover;
  height: 100vh;

}

h1, h3, p {
  font-family: 'Redressed', cursive;
  color: whitesmoke;
}

.btn-primary {
  color: white;
  background-color: #7cc;
  border-color: darkolivegreen;
  border-radius: 40%;
  text-shadow: #212529;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.btn{
  border: none;
}
.btn-primary:hover {
  color: #212529;
  opacity: 0.8;

}
