<div class= "container">
  <h1>Edit dog profile here</h1>

  <%= render 'form', dog: @dog %>

  <hr>
  <%= link_to dogs_path,  class: 'btn btn-warning mt-3' do %>
    <i class="fa fa-history"></i> Back to browsing list
  <% end %>
</div>
