<div class="tinder">
  <div class="tinder--status">
    <i class="fa fa-remove"></i>
    <i class="fa-solid fa-paw"></i>
  </div>
  <% if @dogs.empty? %>
    <p>there's no dogs!</p>
  <% else %>
    <div class="tinder--cards">
      <% @dogs.each do |dog| %>
        <div class="tinder--card">
          <%= cl_image_tag(dog.photo.key, class:"card-img-top") %>
          <h3><%= dog.name %>, <%= dog.age %></h3>
          <p><%= dog.short_description %></p>
        </div>
      <% end %>
    </div>
    <div class="tinder--buttons">
      <button id="nope"><i class="fa fa-remove"></i></button>
      <button id="love"><i class="fa fa-heart"></i></button>
    </div>
  <% end %>
</div>
