<div class= "container">
  <h1>Create a profile for your dog here</h1>

   <%= render 'form', dog: @dog %>

  <hr>
  <%= link_to dogs_path,  class: 'btn btn-primary my-2 p-3' do %>
    Back to browsing page
  <% end %>
</div>
