<div class= "container">
  <h1>Create a profile for your dog here</h1>

   <%= render 'form', dog: @dog %>

  <hr>
  <%= link_to dogs_path,  class: 'btn btn-primary m-2' do %>
    <i class="fa fa-history"></i> Back to browsing page
  <% end %>
</div>
