
<%# <div class="cover mb-4 d-flex align-items-center justify-content-center mt-4">
  <h1 class="text-center"> <strong>PAWSHIP</strong></h1>
  <h3 class="typed-js" data-controller="typed-js"></h3>
</div>

<div class="banner img-fluid" style="background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1)), url(<%= image_path("banner_img.jpg") %>
  <%# <div class="container">
    <h1>This is where your doggie finds friendship and love</h1>
    <p>Looking for doggo playdates in Zurich?</p>
    <p>Look no further, Find the perfect playdate here! Lots of cute tails are wagging.</p>
  </div>
</div> %>

<%# <div class="container">
  <% if user_signed_in? == false %>
    <%# <%= link_to "Sign up", new_user_registration_path, class: 'btn btn-warning mt-3' %>
    <%# <%= link_to "Browse", dogs_path, class: 'btn btn-warning mt-3' %>
  <%# <%else%>
    <%# <%= link_to "Browse", dogs_path, class: 'btn btn-warning mt-3' %>
  <%# <% end %>
<%# </div> %>

<div class="container">
  </div>
    <div class="bg">
      <div class="container">
      <h1 class="text-center"><strong>PAWSHIP</strong></h1>
      <h3 class="text-center">This is where your doggie finds friendship and love</h3>
      <p>Looking for doggo playdates in Zurich?</p>
      <p>Look no further, Find the perfect playdate here! Lots of cute tails are wagging.</p>
    </div>
  </div>
