.mapboxgl-canvas{
  width: 800px;
}

.mapboxgl-popup {
  max-width: 200px;
  border-radius: 30px;
  background-color: aqua;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Nunito', 'Montserrat', Arial, Helvetica, sans-serif;
}

.mapboxgl-marker {
  box-shadow: 2px 2px 4px #404040 !important;
}
