.navbar-lewagon {
  justify-content: space-between;
  background: transparent;
  width: 100%;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 80px;
}

.nav-link {
  font-family: 'Redressed', cursive;
  color: black;
  display: block;
  padding: 0.5rem 1rem;
}

.nav-link:hover {
  color: black;
}
