.navbar-lewagon {
  justify-content: space-between;
  background: #ffe662;
  width: 100%;
  opacity: 0.9;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
  position: relative;
  z-index: 50;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 80px;
}

.nav-link {
  font-family: 'Redressed', cursive;
  color: black;
  display: block;
  padding: 0.5rem 1rem;
}

.nav-link:hover {
  color: black;
}
